<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BP Predictor</title>

</head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<body>
<div id="parent">
    <h1>Blood Pressure Predictor</h1>
    <p id="text">Fill out the form to get your Blood Pressure estimate!</p><br>
    <form name="myform" method="post" action="./">
        <label for="age_id">&nbsp&nbsp&nbsp&nbsp&nbsp Age&nbsp<span>*</span>&nbsp</label><input type="number" id="age_id" name="age" min="0" placeholder="Enter age in years" required><br><br>
        <label for="weight_id">Weight&nbsp<span>*</span>&nbsp</label><input type="number" id="weight_id" name="weight" min="0" placeholder="Enter weight in kg" required><br><br>
        <input type="submit" value="Calculate">
    </form>
    <p id="result">{{ info }}</p>
</div>
</body>
</html>